/* Import two fonts from google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  background-color: #F6F6F6;
}

/* Styling rules for header1 */
.header1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 25px 0px;
}

/* Styling rules for header2 */
.header2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 10px 0;
}


@media only screen and (max-width: 768px) {
  /* Styling rules for header1 */
  .header1 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  /* Styling rules for header2 */
  .header2 {
    font-size: 14px;
    margin: 5px 0;
  }
}